.c-font {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(73, 64, 64, 0.649);
  z-index: 1;
}
.c-fixed {
  margin-top: 3rem;
  width: 50vw;
  margin-left: 25vw;
  z-index: 5;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 7;
  background-color: rgba(73, 64, 64, 0.649);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loader img {
  margin-left: 45vw;
  width: 10vw;
  object-fit: cover; /* Para mantener la relación de aspecto */
  animation: crecer 1.5s infinite alternate;
}
@keyframes crecer {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2); /* Aumenta el tamaño */
  }
}

.loader h1 {
  text-align: center;
}
.datos-card {
  display: flex;
  flex-direction: row;
}
.bt-close {
  position: fixed;
  top: 1rem;
  right: 5%;
}
.profile {
  border-radius: 100%;
  margin-top: -7vw;
  width: 15vw;
  height: 15vw;
  z-index: 5;
  margin-left: 1rem;
}
@media (max-width: 1024px) {
  .c-font {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(73, 64, 64, 0.649);

    z-index: 1;
  }
  .c-fixed {
    margin-top: 3rem;
    width: 80vw;
    margin-left: 10vw;
    z-index: 5;
  }
  .datos-card {
    display: flex;
    flex-direction: row;
  }

  .bt-close {
    position: fixed;
    top: 1rem;
    right: 5%;
  }
  .profile {
    border-radius: 100%;
    margin-top: -15vw;
    width: 30vw;
    height: 30vw;
    z-index: 5;
    margin-left: 1rem;
  }
}
