@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.buscar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(73, 64, 64, 0.649);
  justify-content: center;
}
.buscar-text {
  width: 50vw;
  border-radius: 10px;
  margin-top: 25vh;
  margin-left: 25vw;
  background-color: black;

  border-color: white;
  margin-bottom: 1rem;
}
.buscar-text h4 {
  padding: 1rem;
}
.input-space {
  width: 90%;
  margin-left: 5%;
  margin-top: 1rem;
}
p {
  text-align: center;
  margin: 1rem;
}
.buttonbuscar {
  width: 20%;
  margin-top: 2rem;
  margin-left: 40%;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  border-color: white;
  padding: 1vh;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2vh;
}
.buscarAuto {
  width: 40%;
  padding: 1vh;
  margin-left: 30%;
  margin-bottom: 1rem;
  color: white;
  background-color: transparent;
  border-color: white;
  border-radius: 10px;
  font-family: 'Bebas Neue', sans-serif;
}
.notif {
  text-align: center;
  padding-top: 3vh;
  margin-bottom: 3vh;
}
h5 {
  text-align: center;
}

@media (max-width: 1024px) {
  .buscar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(73, 64, 64, 0.649);
    justify-content: center;
  }
  .buscar-text {
    width: 96vw;
    color: black;

    margin-top: 25vh;
    margin-left: 2vw;

    border-color: white;
  }
  .buscar-text h4 {
    padding: 1rem;
  }
  .input-space {
    width: 90%;
    margin-left: 5%;
    margin-top: 1rem;
  }
  p {
    text-align: center;
    margin: 1rem;
  }

  .buscarAuto {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 1rem;
  }
  .notif {
    text-align: center;
    padding-top: 3vh;
    margin-bottom: 3vh;
  }
  h5 {
    text-align: center;
  }
  .buttonbuscar {
    width: 30%;
    margin-left: 35%;
    margin-bottom: 1rem;
  }
}
